@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
* {
  color: black;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
input {
  padding: 5px 10px;
  border: 1px solid black;
  margin: 5px;
}
.not-found {
  margin: auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-size: 60px;
}
.not-found span {
  color: red;
}

.nav {
  width: 100vw;
  height: 60px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 0px 30px;
  top: 0;
  z-index: 3;
  overflow: hidden;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-head {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 10px;
}
.nav-link-cont {
  display: flex;
  flex-direction: row;
}
.nav-link {
  color: black;
  display: flex;
  flex-direction: row;
}

.prop-card {
  line-height: 2px;
  padding: 20px;
  margin: 20px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pending-cases {
  border: 1px solid black;
  margin: 10px 5px;
  padding: 10px;
  line-height: 2px;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: black;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
